In [2]:
import pandas as pd
import numpy as np

### Pandas -- Data Analysis Tool Kit

Data Structure of Pandas 

1. Series --> one dimensional data structure

   pd.Series(data,index=None)
   
   data can be python data structure or numpy array
   
   
2. DataFrame --> 2 dimensional Data Structure with rows and columns

   pd.DataFrame(data,index=None,columns=None)
   
   data can be list , set, tuple or dictionary or stored array, numpy array etc
   
   index  --> Its a row-label which can be given as per requirement.  (starts with zero)
   
   columns --> its a column-label which can be given as per requirement. (starts with zero)

In [6]:
l = [10,20,30,40]

s = pd.Series(l)
s

0    10
1    20
2    30
3    40
dtype: int64

In [8]:
s1 = pd.Series(l, index=['a','b','c','d'])
s1

a    10
b    20
c    30
d    40
dtype: int64

In [9]:
s1['a']

10

In [10]:
s1['a':'c']

a    10
b    20
c    30
dtype: int64

In [11]:
s1[:3]

a    10
b    20
c    30
dtype: int64

In [12]:
s1['a':'d':2]

a    10
c    30
dtype: int64

In [16]:
d = {'a':1,'b':20,'c':40, 'd':50}
s3 = pd.Series(d)
s3

a     1
b    20
c    40
d    50
dtype: int64

In [19]:
s4 = pd.Series(np.arange(11,16), index=list(range(1,6)))
s4

1    11
2    12
3    13
4    14
5    15
dtype: int32

In [24]:
df = pd.DataFrame(d,index=[0])
df

   a   b   c   d
0  1  20  40  50

In [30]:
d2 = {'a':[10,20,30], 'b':[100,90,80], 'c':[300,400,500]}
df1 = pd.DataFrame(d2)
df1

    a    b    c
0  10  100  300
1  20   90  400
2  30   80  500

In [31]:
dates = pd.date_range('20201124', periods=10)
dates

DatetimeIndex(['2020-11-24', '2020-11-25', '2020-11-26', '2020-11-27',
               '2020-11-28', '2020-11-29', '2020-11-30', '2020-12-01',
               '2020-12-02', '2020-12-03'],
              dtype='datetime64[ns]', freq='D')

In [41]:
df2 = pd.DataFrame(np.random.randn(10,4),index=dates,columns=['A', 'B', 'C', 'D'])
df2

                   A         B         C         D
2020-11-24  1.536623  0.586467 -0.591857 -1.858717
2020-11-25  0.159940  0.588566  0.773450 -0.209757
2020-11-26 -1.366958  0.211668 -0.039274 -1.551908
2020-11-27 -1.747601  0.703331  0.269758 -0.766305
2020-11-28  1.033190  0.254066 -0.812711 -0.809894
2020-11-29 -0.640419 -0.121686  0.029808 -0.851037
2020-11-30  0.968434  0.072938 -0.167676  0.232812
2020-12-01  0.176247  0.202429  0.841438 -0.859053
2020-12-02  1.314121  0.899182 -1.023173  0.834378
2020-12-03 -0.613438  0.924064  0.015170 -0.188804

In [44]:
df2['dates'] = dates
df2

                   A         B         C         D      dates
2020-11-24  1.536623  0.586467 -0.591857 -1.858717 2020-11-24
2020-11-25  0.159940  0.588566  0.773450 -0.209757 2020-11-25
2020-11-26 -1.366958  0.211668 -0.039274 -1.551908 2020-11-26
2020-11-27 -1.747601  0.703331  0.269758 -0.766305 2020-11-27
2020-11-28  1.033190  0.254066 -0.812711 -0.809894 2020-11-28
2020-11-29 -0.640419 -0.121686  0.029808 -0.851037 2020-11-29
2020-11-30  0.968434  0.072938 -0.167676  0.232812 2020-11-30
2020-12-01  0.176247  0.202429  0.841438 -0.859053 2020-12-01
2020-12-02  1.314121  0.899182 -1.023173  0.834378 2020-12-02
2020-12-03 -0.613438  0.924064  0.015170 -0.188804 2020-12-03

In [46]:
df2.head(2)

                   A         B         C         D      dates
2020-11-24  1.536623  0.586467 -0.591857 -1.858717 2020-11-24
2020-11-25  0.159940  0.588566  0.773450 -0.209757 2020-11-25

In [47]:
df2.tail(3)

                   A         B         C         D      dates
2020-12-01  0.176247  0.202429  0.841438 -0.859053 2020-12-01
2020-12-02  1.314121  0.899182 -1.023173  0.834378 2020-12-02
2020-12-03 -0.613438  0.924064  0.015170 -0.188804 2020-12-03

In [48]:
df2.index

DatetimeIndex(['2020-11-24', '2020-11-25', '2020-11-26', '2020-11-27',
               '2020-11-28', '2020-11-29', '2020-11-30', '2020-12-01',
               '2020-12-02', '2020-12-03'],
              dtype='datetime64[ns]', freq='D')

In [50]:
df2.columns

Index(['A', 'B', 'C', 'D', 'dates'], dtype='object')

In [51]:
df2.values

array([[1.5366226634047946, 0.5864669844545934, -0.5918565527234624,
        -1.8587165568162514, Timestamp('2020-11-24 00:00:00')],
       [0.15993996553197315, 0.5885659318559483, 0.7734504260578161,
        -0.20975711710267705, Timestamp('2020-11-25 00:00:00')],
       [-1.3669578230300288, 0.21166825740548045, -0.039274095940020404,
        -1.5519082464646845, Timestamp('2020-11-26 00:00:00')],
       [-1.7476007074255993, 0.7033312017589505, 0.26975797189026374,
        -0.7663050120046094, Timestamp('2020-11-27 00:00:00')],
       [1.0331901744523597, 0.2540661232095752, -0.8127113730524883,
        -0.8098938999331703, Timestamp('2020-11-28 00:00:00')],
       [-0.6404189349631876, -0.1216855174814213, 0.029807544621132397,
        -0.8510373166588486, Timestamp('2020-11-29 00:00:00')],
       [0.9684338546533912, 0.07293792704413929, -0.16767559665002105,
        0.23281188014777077, Timestamp('2020-11-30 00:00:00')],
       [0.1762474713598486, 0.20242945379407126, 0.8414384794550779,
        -0.8590529665814144, Timestamp('2020-12-01 00:00:00')],
       [1.3141208616847742, 0.8991824879806921, -1.0231734095771703,
        0.8343778436220601, Timestamp('2020-12-02 00:00:00')],
       [-0.6134376245078562, 0.924063856359714, 0.015170381912728192,
        -0.18880402827308454, Timestamp('2020-12-03 00:00:00')]],
      dtype=object)

In [52]:
df2.describe()

               A          B          C          D
count  10.000000  10.000000  10.000000  10.000000
mean    0.082014   0.432103  -0.070507  -0.602829
std     1.144648   0.357582   0.616239   0.800322
min    -1.747601  -0.121686  -1.023173  -1.858717
25%    -0.633674   0.204739  -0.485811  -0.857049
50%     0.168094   0.420267  -0.012052  -0.788099
75%     1.017001   0.674640   0.209770  -0.194042
max     1.536623   0.924064   0.841438   0.834378

In [54]:
df2.T

,2020-11-24,2020-11-25,2020-11-26,2020-11-27,2020-11-28,2020-11-29,2020-11-30,2020-12-01,2020-12-02,2020-12-03
A,1.53662,0.15994,-1.36696,-1.7476,1.03319,-0.640419,0.968434,0.176247,1.31412,-0.613438
B,0.586467,0.588566,0.211668,0.703331,0.254066,-0.121686,0.0729379,0.202429,0.899182,0.924064
C,-0.591857,0.77345,-0.0392741,0.269758,-0.812711,0.0298075,-0.167676,0.841438,-1.02317,0.0151704
D,-1.85872,-0.209757,-1.55191,-0.766305,-0.809894,-0.851037,0.232812,-0.859053,0.834378,-0.188804
dates,2020-11-24 00:00:00,2020-11-25 00:00:00,2020-11-26 00:00:00,2020-11-27 00:00:00,2020-11-28 00:00:00,2020-11-29 00:00:00,2020-11-30 00:00:00,2020-12-01 00:00:00,2020-12-02 00:00:00,2020-12-03 00:00:00

In [55]:
df2.sort_index(axis=1)

                   A         B         C         D      dates
2020-11-24  1.536623  0.586467 -0.591857 -1.858717 2020-11-24
2020-11-25  0.159940  0.588566  0.773450 -0.209757 2020-11-25
2020-11-26 -1.366958  0.211668 -0.039274 -1.551908 2020-11-26
2020-11-27 -1.747601  0.703331  0.269758 -0.766305 2020-11-27
2020-11-28  1.033190  0.254066 -0.812711 -0.809894 2020-11-28
2020-11-29 -0.640419 -0.121686  0.029808 -0.851037 2020-11-29
2020-11-30  0.968434  0.072938 -0.167676  0.232812 2020-11-30
2020-12-01  0.176247  0.202429  0.841438 -0.859053 2020-12-01
2020-12-02  1.314121  0.899182 -1.023173  0.834378 2020-12-02
2020-12-03 -0.613438  0.924064  0.015170 -0.188804 2020-12-03

In [56]:
df2.sort_index(axis =1, ascending=False)

                dates         D         C         B         A
2020-11-24 2020-11-24 -1.858717 -0.591857  0.586467  1.536623
2020-11-25 2020-11-25 -0.209757  0.773450  0.588566  0.159940
2020-11-26 2020-11-26 -1.551908 -0.039274  0.211668 -1.366958
2020-11-27 2020-11-27 -0.766305  0.269758  0.703331 -1.747601
2020-11-28 2020-11-28 -0.809894 -0.812711  0.254066  1.033190
2020-11-29 2020-11-29 -0.851037  0.029808 -0.121686 -0.640419
2020-11-30 2020-11-30  0.232812 -0.167676  0.072938  0.968434
2020-12-01 2020-12-01 -0.859053  0.841438  0.202429  0.176247
2020-12-02 2020-12-02  0.834378 -1.023173  0.899182  1.314121
2020-12-03 2020-12-03 -0.188804  0.015170  0.924064 -0.613438

In [58]:
df2.sort_values(by='B')

                   A         B         C         D      dates
2020-11-29 -0.640419 -0.121686  0.029808 -0.851037 2020-11-29
2020-11-30  0.968434  0.072938 -0.167676  0.232812 2020-11-30
2020-12-01  0.176247  0.202429  0.841438 -0.859053 2020-12-01
2020-11-26 -1.366958  0.211668 -0.039274 -1.551908 2020-11-26
2020-11-28  1.033190  0.254066 -0.812711 -0.809894 2020-11-28
2020-11-24  1.536623  0.586467 -0.591857 -1.858717 2020-11-24
2020-11-25  0.159940  0.588566  0.773450 -0.209757 2020-11-25
2020-11-27 -1.747601  0.703331  0.269758 -0.766305 2020-11-27
2020-12-02  1.314121  0.899182 -1.023173  0.834378 2020-12-02
2020-12-03 -0.613438  0.924064  0.015170 -0.188804 2020-12-03

In [59]:
df2['A']

2020-11-24    1.536623
2020-11-25    0.159940
2020-11-26   -1.366958
2020-11-27   -1.747601
2020-11-28    1.033190
2020-11-29   -0.640419
2020-11-30    0.968434
2020-12-01    0.176247
2020-12-02    1.314121
2020-12-03   -0.613438
Freq: D, Name: A, dtype: float64

In [60]:
df2[:3]

                   A         B         C         D      dates
2020-11-24  1.536623  0.586467 -0.591857 -1.858717 2020-11-24
2020-11-25  0.159940  0.588566  0.773450 -0.209757 2020-11-25
2020-11-26 -1.366958  0.211668 -0.039274 -1.551908 2020-11-26

In [65]:
df2['20201125':'20201130']

                   A         B         C         D      dates
2020-11-25  0.159940  0.588566  0.773450 -0.209757 2020-11-25
2020-11-26 -1.366958  0.211668 -0.039274 -1.551908 2020-11-26
2020-11-27 -1.747601  0.703331  0.269758 -0.766305 2020-11-27
2020-11-28  1.033190  0.254066 -0.812711 -0.809894 2020-11-28
2020-11-29 -0.640419 -0.121686  0.029808 -0.851037 2020-11-29
2020-11-30  0.968434  0.072938 -0.167676  0.232812 2020-11-30

In [66]:
df2['20201125'] # we cannot hash values of DataFrame using row-labels

KeyError: '20201125'

### Note:
to access elements of dataframe by row-labels as well as column-labelss we use .loc method

In [71]:
df2.loc['20201124':'20201125', ['A', 'B']]

                   A         B
2020-11-24  1.536623  0.586467
2020-11-25  0.159940  0.588566

In [72]:
df2.loc[::2,::2]

                   A         C      dates
2020-11-24  1.536623 -0.591857 2020-11-24
2020-11-26 -1.366958 -0.039274 2020-11-26
2020-11-28  1.033190 -0.812711 2020-11-28
2020-11-30  0.968434 -0.167676 2020-11-30
2020-12-02  1.314121 -1.023173 2020-12-02

### Note

To Access elements of DataFrame by position / index of the Datafrme we used iloc method

In [74]:
df2.iloc[[0,2,4,6],[1,3]]

                   B         D
2020-11-24  0.586467 -1.858717
2020-11-26  0.211668 -1.551908
2020-11-28  0.254066 -0.809894
2020-11-30  0.072938  0.232812

In [75]:
df2.iloc[:3,]

                   A         B         C         D      dates
2020-11-24  1.536623  0.586467 -0.591857 -1.858717 2020-11-24
2020-11-25  0.159940  0.588566  0.773450 -0.209757 2020-11-25
2020-11-26 -1.366958  0.211668 -0.039274 -1.551908 2020-11-26

In [76]:
df2.iloc[:,:3]

                   A         B         C
2020-11-24  1.536623  0.586467 -0.591857
2020-11-25  0.159940  0.588566  0.773450
2020-11-26 -1.366958  0.211668 -0.039274
2020-11-27 -1.747601  0.703331  0.269758
2020-11-28  1.033190  0.254066 -0.812711
2020-11-29 -0.640419 -0.121686  0.029808
2020-11-30  0.968434  0.072938 -0.167676
2020-12-01  0.176247  0.202429  0.841438
2020-12-02  1.314121  0.899182 -1.023173
2020-12-03 -0.613438  0.924064  0.015170

###  Differences between iloc and loc
 loc --label 
iloc -- indexing

## Boolean indexing

In [78]:
df2[df2['A'] > 0 ]

                   A         B         C         D      dates
2020-11-24  1.536623  0.586467 -0.591857 -1.858717 2020-11-24
2020-11-25  0.159940  0.588566  0.773450 -0.209757 2020-11-25
2020-11-28  1.033190  0.254066 -0.812711 -0.809894 2020-11-28
2020-11-30  0.968434  0.072938 -0.167676  0.232812 2020-11-30
2020-12-01  0.176247  0.202429  0.841438 -0.859053 2020-12-01
2020-12-02  1.314121  0.899182 -1.023173  0.834378 2020-12-02

In [86]:
del df2['dates']

KeyError: 'dates'

In [87]:
df2

                   A         B         C         D
2020-11-24  1.536623  0.586467 -0.591857 -1.858717
2020-11-25  0.159940  0.588566  0.773450 -0.209757
2020-11-26 -1.366958  0.211668 -0.039274 -1.551908
2020-11-27 -1.747601  0.703331  0.269758 -0.766305
2020-11-28  1.033190  0.254066 -0.812711 -0.809894
2020-11-29 -0.640419 -0.121686  0.029808 -0.851037
2020-11-30  0.968434  0.072938 -0.167676  0.232812
2020-12-01  0.176247  0.202429  0.841438 -0.859053
2020-12-02  1.314121  0.899182 -1.023173  0.834378
2020-12-03 -0.613438  0.924064  0.015170 -0.188804

In [89]:
df2[df2>0]

                   A         B         C         D
2020-11-24  1.536623  0.586467       NaN       NaN
2020-11-25  0.159940  0.588566  0.773450       NaN
2020-11-26       NaN  0.211668       NaN       NaN
2020-11-27       NaN  0.703331  0.269758       NaN
2020-11-28  1.033190  0.254066       NaN       NaN
2020-11-29       NaN       NaN  0.029808       NaN
2020-11-30  0.968434  0.072938       NaN  0.232812
2020-12-01  0.176247  0.202429  0.841438       NaN
2020-12-02  1.314121  0.899182       NaN  0.834378
2020-12-03       NaN  0.924064  0.015170       NaN